h1 { color: #ff2f14;}
* {color:white; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman'}
body{
    background-image: url('https://i.pinimg.com/originals/b5/fd/3f/b5fd3fbe984103e08b9482471484394b.gif');}
* {text-align: center;}
p {
    font-size: 200% ;
}
#lijst
{
color: aqua;
}
li {
    list-style-position: inside;
}
ul {
    text-decoration-color: blue;
}
/*bron: https://www.w3schools.com/html/html_links.asp*/