body {
    padding: 0;
    margin: 0;   

    color: #333;

}

#container {
    margin: 2%;
	height: 100%;
	width: 90%;
}

#hoofdpagina {
    display: flex;
    width: 100%;
	height: 10%;
	padding:0
}

#inleiding {
    width: 100%;
	height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0% 0% 0% 2%;
}

#rechts {
    width: 1000px;
    
}
.tekst
{
	font-size: 200%;
}
img {
    width: 80%;
    margin-left: 10%;
	
}

#footer {
    background-color: #333;
    color: #DDD;
    text-align: right;
}

#menu { /* bij menu, menu generator gebruikt, alleen de code gebruikt die ik snap*/
	background: #0829CC;
	background: linear-gradient(to bottom,  #1df063,  #0f7e18);/*dit is de kleur, hieronder de box van het menu, daaaronder wat er gebeurt als je met je muis erover gaat*/
	color: #FFF;
	height: 51px;
	padding-left: 18px;
	border-radius: 14px;
	border: 2px solid #000000;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 47px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover { 
	color: #e7e7e7;
	background: #278333;
}
#menu input { /*boxen van de knoppen8*/
	display: none;
	margin: 0;
	padding: 0;
	height: 51px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 47px;
	text-align: center;
	position: absolute;
	left: 35px
}


body{
    background-image: url("https://th.bing.com/th/id/R.283a39511fcc07b68cf81d138c9b5fe9?rik=MCpQgi%2bxb9hSRw&riu=http%3a%2f%2fpavbca.com%2fwalldb%2foriginal%2f1%2f6%2f5%2f103386.jpg&ehk=g9kDd21ynZhvFHVuBcLdS6kY%2fag0Ci%2fCUNNeLsCaS34%3d&risl=&pid=ImgRaw&r=0ndex.jpg");}

				
body {
	font-family: 'Zilla Slab', serif;
}

.groot
{  
	background-color: rgb(255, 255, 255);
}

#lijst
{
color: aqua;
}
li {
    list-style-position: inside;
}
ul {
    text-decoration-color: blue;
}
/*bron: https://www.w3schools.com/html/html_links.asp*/
#about
{
	font-size: 200% ;
	text-align: center;
	color: white;
}
#achtergrond
{
	background-image: url('https://i.pinimg.com/originals/b5/fd/3f/b5fd3fbe984103e08b9482471484394b.gif');
}